rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quizzes/{quizId} {
      allow read: if true;
      allow write: if true;
    }
    match /scores/{scoreId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /content/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /communityQuestions/{qid} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
    match /userQuizzes/{uid}/items/{quizId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
